.container{
    left: 45px;
    position: sticky;
    font-size: 30px;
    display: inline-block;
    margin-top: 30px;
    input {
        width: 259.44px;
        height: 40px;
        font-size: 15px;
        padding: 0 15px;
    }
    button{
        width: 90px;
        height: 40px;
        background: #888888;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.17);
        outline: none;
        border: none;
        cursor: pointer;
        margin-left: 5px;
        font-size: 16px;
        color: #FFFFFF; 
    }
}