@import '../../constants/variables.scss';

// .container{
//     // background: red;
// }
.section{
    background: lightblue;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    box-shadow: 1700px 0px 0px 0px lightblue;


    &::after{
        content: " ";
        position:absolute;
        width: 90%;
        right: 0;
        bottom: 0;
        height: 20px;
        z-index:-1;
        -moz-box-shadow: 0px 5px 4px #888;
        -webkit-box-shadow: 0px 5px 4px #888;
        box-shadow: 0px 5px 4px #888;
    }
    input{
        z-index: 1;
    }
}

.massage{
    text-align: center;
    font-size: 20px;
    margin-left: 20px;
}

.openAllDescriptions [contenteditable]{
  
    white-space: initial !important;
    overflow: initial !important;
    text-overflow: initial !important;
}
.removed{
    background: red !important;
}
// .checkboxRowTitle{}
// .checkboxRow{}