@import '../../constants/variables.scss';

// .container{
//     // background: red;
// }
.section{
    background: lightblue;
    input{
        z-index: 1;
    }
}

.massage{
    text-align: center;
    font-size: 20px;
    margin-left: 20px;
}

.openAllDescriptions [contenteditable]{
  
    white-space: initial !important;
    overflow: initial !important;
    text-overflow: initial !important;
}

// .checkboxRowTitle{}
// .checkboxRow{}