

.container{
    word-break: break-all;
    display: inline-block !important;
}
.focused {
    white-space: initial !important;
    overflow: initial !important;
    text-overflow: initial !important;
}