
@import '../../constants/variables.scss';



header{

    margin-left: $respContainerWidth;
    padding-left: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    background: #fff;
    z-index: 3;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    &+ div{
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }
    -webkit-transform: translateY(0);
            transform: translateY(0);
    top: 0;
}

.deportament{
    
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-left: none;
    border: 1px solid black;
    border-left: none;
    background: #fff;
    &:first-child{

        border-left: 1px solid black;
    }
    &> h4{

        padding: 10px 0;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        word-break: break-all;
        margin: auto;
    }
    &>div{
        
        -webkit-writing-mode: vertical-lr;
        
            -ms-writing-mode: tb-lr;
        
                writing-mode: vertical-lr;
        text-orientation: mixed;
        min-height: 160px;
        &>p{

            @include columnStyles;
            border-top: 1px solid black;
            border-bottom: none;
            white-space: nowrap;
            &:last-child{

                border-right: none;
            }
            &:first-child{

                border-left: none;
            }
        }
    }
}
.departmentsChecker{
    position: fixed;
    min-width: $respContainerWidth;
    z-index: 4;
    left: 0;
    margin-right: 5px;
    background: #fff;
    min-height: 235px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    &> div{
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;
    }
}

.halfShower{
    padding: 10px 15px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    
    position: absolute;
    outline: none;
    top: 12px;
}
.checkboxContainer{
    cursor: pointer;
    &:hover{
        background: lightcyan;
    }
}