
@import '../../constants/variables.scss';



header{

    margin-left: $respContainerWidth;
    padding-left: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    background: #fff;
    z-index: 3;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    &+ div{
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        & + div{

            z-index: 9;
            position: relative;
        }
    }
    -webkit-transform: translateY(0);
            transform: translateY(0);
    top: 0;

}
header + div{
    min-width: 100%;    
}

.deportament{
    
    text-align: center;
    border-left: none;
    border: 1px solid #ccc;
    border-left: none;
    background: #fff;
    
    &:first-child{

        border-left: 1px solid #ccc;
    }
    &> h4{

        padding: 10px 0;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        word-break: break-all;
        margin: auto;
    }
    &>div{
        
    height: 217px;
        -webkit-writing-mode: vertical-lr;
        
            -ms-writing-mode: tb-lr;
        
                writing-mode: vertical-lr;
        text-orientation: mixed;
        min-height: 160px;
        &>p{

            @include columnStyles;
            border-top: 1px solid #ccc;
            border-bottom: none;
            white-space: nowrap;
            // justify-content: flex-start;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
            line-height: 38px;
            padding-top: 7px;

          
            

            cursor: pointer;
            &:hover {
                background: #ededed;
            }
            
            &:last-child{

                border-right: none;
            }
            &:first-child{

                border-left: none;
            }
        }
    }
}
.departmentsChecker{
    position: fixed;
    padding-top: 10px;
    width: $respContainerWidth;
    z-index: 4;
    left: 0;
    margin-right: 5px;
    background: #fff;
    min-height: 255px;
    // border-bottom: 1px solid;
    // border-right: 1px solid;
    &> div{
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;

        input[type="checkbox"]{
            height: 20px;
            margin: 0;
            padding: 0;
            position: absolute;
            left: -50px;
        }
        label{
            margin-left: 30px;
        }
        label:before{
            display: none;
        }
    }
}
.deportamentName{

    font-size: 14px;
    .halfShower{
        // padding: 10px 15px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        outline: none;
        top: 13px;
        padding-left: 7px;
        background:none;
       
    }
    & .showLess{
        transform: rotate(180deg);
        transform-origin: 67% 40%;
    }
}
.checkboxContainer{
    cursor: pointer;
    &:hover{
        background: #ededed;
    }
}