@import '../../../constants/variables.scss';


.checkboxRowWrapper{

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: fit-content;
    min-height: 30px;
    padding-right: 10px;
    
    .EditableText{
       
        width: 210px;
        // background: lightgreen;
        text-overflow: ellipsis; 
        white-space: nowrap;
        overflow: hidden;
        min-width: 100%;
        
        color: #555;

        font-weight: bold;
        

        &:last-child{
            font-weight: initial;
        }
        &:focus{
            
            margin-bottom: 4px;
        }
        &:hover{

            white-space:initial;
            overflow: visible;
            text-overflow:initial;
            margin-bottom: 4px;
        }


        
      
    }

  
    .nameEditable{
        max-width: 100px;
        min-width: 100px;
    }
    .descriptionLeftSide{
        
        position: -webkit-sticky;
        
        position: sticky;
        left: 90px;
        z-index: 3;
        outline: 1px solid #ccc;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        min-width: 234px;
        max-width: 234px;
        width: 234px;
        display: inline-block;
        background: #fff;
    }
    &>div{

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        &> div{

            @include columnStyles;
        }
    }
}
.removeRow{
    position: absolute;
    left: -78px;
    // padding: 10px 15px;
    height: 25px;
    width:25px;
    top: calc(50% - 13px);
    cursor: pointer;
    background-image: url(/removeLine.svg);
    background-repeat: no-repeat;
    background-size: 90% 90%;
    border: none;
    outline: none;
    background-color: transparent;
    
}