@import '../../../constants/variables.scss';


.checkboxRowWrapper{

    border: 1px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: fit-content;
    min-height: 30px;
    padding-right: 10px;
    
    .EditableText{

        width: 210px;
        background: lightgreen;
        text-overflow: ellipsis; 
        white-space: nowrap;
        overflow: hidden;
        min-width: 100%;
        
        &:focus{
            
            margin-bottom: 4px;
        }
        &:hover{

            white-space:initial;
            overflow: visible;
            text-overflow:initial;
            margin-bottom: 4px;
        }
    }
    .nameEditable{
        max-width: 100px;
        min-width: 100px;
    }
    .descriptionLeftSide{
        
        position: -webkit-sticky;
        
        position: sticky;
        left: 40px;
        z-index: 3;
        outline: 1px solid;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: 234px;
        display: inline-block;
        background: #fff;
    }
    &>div{

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        &> div{

            @include columnStyles;
            &>input{

                width: 27px;
                height: 27px;
            }
        }
    }
}
.removeRow{
    position: absolute;
    left: -40px;
    padding: 10px 15px;
    background: red;
    border-radius: 50% ;
    cursor: pointer;
    
}