@import '../../../constants/variables.scss';


.checkboxRowWrapper{

    border: 1px solid black;
    display: flex;
    width: fit-content;
    min-height: 30px;
    
    .EditableText{

        width: $respContainerWidth;
        background: lightgreen;
        text-overflow: ellipsis; 
        padding-left: 10px;
        white-space: nowrap;
        overflow: hidden;
        min-width: 210px;
      
        &:hover{

            white-space:initial;
            overflow: visible;
            text-overflow:none;
        }
    }
    .descriptionLeftSide{
        
        position: sticky;
        left: 0;
        z-index: 3;
        outline: 1px solid;
    }
    &>div{

        display: flex;
        &> div{

            @include columnStyles;
            &>input{

                width: 100%;
                height: 100%;
            }
        }
    }
}