
@import './constants/variables.scss';

*{

    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.app{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.checkboxWrapper{
    outline: 1px solid;
}
.rowContainer{
    // will-change: height;
}
footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    left: 210px;
    z-index: 3;
    &>div{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        
        label{
            padding-right: 10px;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    position: fixed;
    bottom: 0;
    left: $respContainerWidth;
}

.ReactVirtualized__Grid.ReactVirtualized__List,.ReactVirtualized__Grid__innerScrollContainer{
    overflow: initial !important;
}