
@import './constants/variables.scss';

*{

    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.App{

    font-family: Arial;
    margin-bottom: 240px;
}


.checkboxWrapper{
    outline: 1px solid #cccccc;
    background-size: 90% !important;
    background-repeat: no-repeat !important;
    background-position: center  !important;
}

.b_1{
    background-image:url(/1.svg) ;
}
.b_2{
    background-image:url(/2.svg) ;
}
.b_3{
    // background-image:url(/3.svg) ;
}
.rowContainer{
    // will-change: height;
}
footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    left: 210px;
    z-index: 3;
    &>div{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        
        label{
            padding-right: 10px;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    position: fixed;
    bottom: 0;
    left: $respContainerWidth;
}

.ReactVirtualized__Grid.ReactVirtualized__List,.ReactVirtualized__Grid__innerScrollContainer{
    overflow: initial !important;
}

.react-autosuggest__suggestions-container{
    position: absolute;
    background: #fff;
    width: 147px;
    z-index: 99;
    max-height: 150px;
    overflow: auto;
    ul{
        li{
            list-style: none;
            cursor: pointer;
            padding: 5px;
            &:hover{
                background: lightcyan;
            }
            &.react-autosuggest__suggestion--highlighted{
                background: lightcyan;
            }
        }
    
    }
}


.customCheckboxLeft{
    display: flex;
    align-items: center;
    cursor: pointer;
    &::before{
        content: '';
        height: 20px;
        width: 20px;
        display: inline-block;
        border: 1px solid #616161;
        margin-right:7px;
    }
    &.checked::before{
        background: url(/checked.svg);
        background-size: 80% 80%;
        background-position: center;
        background-repeat: no-repeat;
        // display: none;
    }
}


.react-autosuggest__container input{
    margin-bottom: 0;
}